<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>LandingPage</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AdminIndexController</servlet-name>
		<servlet-class>controller.AdminIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexController</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCategoryIndexController</servlet-name>
		<servlet-class>controller.AdminCategoryIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCategoryIndexController</servlet-name>
		<url-pattern>/admin/category/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCategoryAddController</servlet-name>
		<servlet-class>controller.AdminCategoryAddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCategoryAddController</servlet-name>
		<url-pattern>/admin/category/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminContactIndexController</servlet-name>
		<servlet-class>controller.AdminContactIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminContactIndexController</servlet-name>
		<url-pattern>/admin/contact/index</url-pattern>
	</servlet-mapping>
</web-app>