<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>land</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AdminIndexController</servlet-name>
		<servlet-class>controller.AdminIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexController</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCategoryIndexController</servlet-name>
		<servlet-class>controller.AdminCategoryIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCategoryIndexController</servlet-name>
		<url-pattern>/admin/category/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCategoryAddController</servlet-name>
		<servlet-class>controller.AdminCategoryAddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCategoryAddController</servlet-name>
		<url-pattern>/admin/category/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminContactDeleteController</servlet-name>
		<servlet-class>controller.AdminContactDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminContactDeleteController</servlet-name>
		<url-pattern>/admin/contact/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminContactIndexController</servlet-name>
		<servlet-class>controller.AdminContactIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminContactIndexController</servlet-name>
		<url-pattern>/admin/contact/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCommentIndexController</servlet-name>
		<servlet-class>controller.AdminCommentIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCommentIndexController</servlet-name>
		<url-pattern>/admin/comment/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCommentDeleteController</servlet-name>
		<servlet-class>controller.AdminCommentDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCommentDeleteController</servlet-name>
		<url-pattern>/admin/comment/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCategoryEditController</servlet-name>
		<servlet-class>controller.AdminCategoryEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCategoryEditController</servlet-name>
		<url-pattern>/admin/category/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCategoryDeleteController</servlet-name>
		<servlet-class>controller.AdminCategoryDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCategoryDeleteController</servlet-name>
		<url-pattern>/admin/category/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCategorySearchController</servlet-name>
		<servlet-class>controller.AdminCategorySearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCategorySearchController</servlet-name>
		<url-pattern>/admin/category/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminNewsIndexController</servlet-name>
		<servlet-class>controller.AdminNewsIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewsIndexController</servlet-name>
		<url-pattern>/admin/news/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminNewsAddController</servlet-name>
		<servlet-class>controller.AdminNewsAddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewsAddController</servlet-name>
		<url-pattern>/admin/news/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminNewsEditController</servlet-name>
		<servlet-class>controller.AdminNewsEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewsEditController</servlet-name>
		<url-pattern>/admin/news/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminNewsDeleteController</servlet-name>
		<servlet-class>controller.AdminNewsDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewsDeleteController</servlet-name>
		<url-pattern>/admin/news/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminSlideIndexController</servlet-name>
		<servlet-class>controller.AdminSlideIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSlideIndexController</servlet-name>
		<url-pattern>/admin/slide/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminSlideAddController</servlet-name>
		<servlet-class>controller.AdminSlideAddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSlideAddController</servlet-name>
		<url-pattern>/admin/slide/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminSlideEditController</servlet-name>
		<servlet-class>controller.AdminSlideEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSlideEditController</servlet-name>
		<url-pattern>/admin/slide/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserIndexController</servlet-name>
		<servlet-class>controller.AdminUserIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserIndexController</servlet-name>
		<url-pattern>/admin/user/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserAddController</servlet-name>
		<servlet-class>controller.AdminUserAddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserAddController</servlet-name>
		<url-pattern>/admin/user/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserEditController</servlet-name>
		<servlet-class>controller.AdminUserEditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserEditController</servlet-name>
		<url-pattern>/admin/user/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserDeleteController</servlet-name>
		<servlet-class>controller.AdminUserDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserDeleteController</servlet-name>
		<url-pattern>/admin/user/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminCommentSearchController</servlet-name>
		<servlet-class>controller.AdminCommentSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCommentSearchController</servlet-name>
		<url-pattern>/admin/comment/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminContactSearchController</servlet-name>
		<servlet-class>controller.AdminContactSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminContactSearchController</servlet-name>
		<url-pattern>/admin/contact/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminNewsSearchController</servlet-name>
		<servlet-class>controller.AdminNewsSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminNewsSearchController</servlet-name>
		<url-pattern>/admin/news/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminUserSearchController</servlet-name>
		<servlet-class>controller.AdminUserSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserSearchController</servlet-name>
		<url-pattern>/admin/user/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PublicIndexController</servlet-name>
		<servlet-class>controller.PublicIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicIndexController</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicContactController</servlet-name>
		<servlet-class>controller.PublicContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicContactController</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicDetailController</servlet-name>
		<servlet-class>controller.PublicDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicDetailController</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicCatController</servlet-name>
		<servlet-class>controller.PublicCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicCatController</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicSearchController</servlet-name>
		<servlet-class>controller.PublicSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicSearchController</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicProfileController</servlet-name>
		<servlet-class>controller.PublicProfileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicProfileController</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicAddCommentController</servlet-name>
		<servlet-class>controller.PublicAddCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicAddCommentController</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthLoginController</servlet-name>
		<servlet-class>controller.AuthLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthLoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthLogoutController</servlet-name>
		<servlet-class>controller.AuthLogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthLogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NotFound404</servlet-name>
		<servlet-class>controller.NotFound404</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotFound404</servlet-name>
		<url-pattern>/notFound</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AppFilter</filter-name>
		<filter-class>filter.AppFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AppFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AppFilterPublicSlide</filter-name>
		<filter-class>filter.AppFilterPublicSlide</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AppFilterPublicSlide</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/libraries/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ProfileFilter</filter-name>
		<filter-class>filter.ProfileFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProfileFilter</filter-name>
		<url-pattern>/profile</url-pattern>
	</filter-mapping>

</web-app>